@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
  }
  
  #root {
    flex-grow: 1;
  }
  
  footer {
    background-color: #111827; /* Tailwind 'bg-gray-900' equivalent */
    color: #ffffff;
    padding: 1.5rem;
    text-align: center;
  }
  