@tailwind base;
@tailwind components;
@tailwind utilities;

body, a, button {
    cursor: url('/cursor.cur'), auto; /* Custom cursor for all elements */
}

input, textarea {
    cursor: text; /* Keep default text cursor for input fields */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
}

#root {
    flex-grow: 1;
}

footer {
    background-color: #111827; /* Tailwind 'bg-gray-900' */
    color: #ffffff;
    padding: 1.5rem;
    text-align: center;
}
